DATABASE_URL=postgresql://user:pass@localhost:5432/networking_hub
REDIS_URL=redis://localhost:6379

# openai | google
EMBEDDING_PROVIDER=google
OPENAI_API_KEY=
GOOGLE_GENAI_API_KEY=

BETTER_AUTH_SECRET=your-super-secret-here-min-32-chars-long!!
BETTER_AUTH_URL=http://localhost:3000
PORT=3000
NODE_ENV=development
